html, body {
	padding: 0;
	min-height: 100%;
	overflow: hidden;
}

#viewport {
	height: 100%;
	width: 100%;
	position: absolute;
	top : 0;
	left : 0;
}

#app-content {
	position: absolute;
	top : 50px;
	bottom: 0;
	overflow-x : hidden;
	overflow-y: auto;
	width: 100%;
}