.page {
	transition : .5s;
	-webkit-transform : translate(0,0);
	-ms-transform : translate(0,0);
	-moz-transform : translate(0,0);
	-o-transform : translate(0,0);
	transform : translate(0,0);
	position: absolute;
	top : 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.before-entry {
	-webkit-transform : translate(100%,0);
	-ms-transform : translate(100%,0);
	-moz-transform : translate(100%,0);
	-o-transform : translate(100%,0);
	transform : translate(100%,0);
}

.after-entry {
	-webkit-transform : translate(-100%,0);
	-ms-transform : translate(-100%,0);
	-moz-transform : translate(-100%,0);
	-o-transform : translate(-100%,0);
	transform : translate(-100%,0);
}

.no-animation {
	transition : 0;
}

.page-link {
	clear: both;
	text-align: center;
	font-size: 16px;
	background: #222;
	cursor: pointer;
	border-top: 1px solid #080808;
	line-height: 36px;
}

.page-link h5 {
	margin : 0;
	font-size: 16px;
	line-height: 36px;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.page-link a {
	color: #999;
	display: block;
}

.page-link a:hover {
	text-decoration: none;
}